header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
}

header .logo{
    max-width: 20%;
}

header .logo figure{
    max-width: 96px;
    margin: 0;
}

header .nome{
    display: inline-flex;
    align-items: center;
}

header .nome #candidate_initials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 7px;
    margin-left: 16px;
    transition: all ease .3s;
}

header .nome #candidate_initials:hover{
    background-color: #555555;
    color: #fff;
}

header .nome h1{
    font-size: 14px;
}

header .nome h1 b{
    font-weight: 700;
}

header .nome h1 span{
    font-weight: 400;
}

@media (max-width: 767px) {
    header .nome h1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        font-size: 12px;
    }
}